.python {
  animation: python-fill 2s forwards;
}
@keyframes python-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
.java {
  animation: java-fill 2s forwards;
}
@keyframes java-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
.scheme {
  animation: scheme-fill 2s forwards;
}

@keyframes scheme-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.html {
  animation: html-fill 2s forwards;
}
@keyframes html-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
.css {
  animation: css-fill 2s forwards;
}
@keyframes css-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
.javaScript {
  animation: javaScript-fill 2s forwards;
}
@keyframes javaScript-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
.jQuery {
  animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
.node {
  animation: node-fill 2s forwards;
  margin-bottom: 0;
}
@keyframes node-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
.react {
  animation: react-fill 2s forwards;
}
@keyframes react-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
.bootstrap {
  animation: bootstrap-fill 2s forwards;
}
@keyframes bootstrap-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
.c {
  animation: c-fill 2s forwards;
}
@keyframes c-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
.access {
  animation: access-fill 2s forwards;
}
@keyframes access-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
